
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://58.34.63.88:6066/UNI5E19E68.ipa</string>
                </dict>
                   <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>http://58.34.63.88:6066/icon_512.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>kind</key>
                <string>software</string>
                <key>bundle-identifier</key>
                <string>com.runaiot.rh</string>
                <key>title</key>
                <string>HBuilder手机应用</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
